.grid-container {
  display: grid;
  width: 100%;
}

.grid-item {
  text-align: left;
}

.item1 {
  padding-left: 10px;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  padding-left: 10px;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.item3 {
  grid-column: 3;
  grid-row: 1 / span 2;
  text-align: right
}

img {
  height: 100px;
  margin-right: 10px;
}

button {
  border: black;
  border-style: solid;
  padding-left: 5px;
  display: flex;
  align-items: center;
  margin: 0;
}

mat-icon {
  scale: 0.6;
}
