  <div class="grid-container">
    <div class="grid-item item1">
      <h3>Entwickelt an der hftm</h3>
      <p style="font-size:12px; max-width: 300px;">Diese Website und das EPo Floss sind als Prototyp zu betrachten und zeigen die Kompetenzen der hftm Studenten. </p>
    </div>
    <div class="grid-item item2">
        <a href="https://www.hftm.ch/de" target="_blank">
      <button>
        hftm.ch<mat-icon>call_made</mat-icon>
      </button>
      </a>
    </div>
    <div class="grid-item item3">
      <img src="https://www.hftm.ch/themes/custom/hftm/logo.svg" />
    </div>
  </div>

