<h1>Temperatur</h1>
<div style="width: 500px;">
  <ngx-charts-line-chart
    [scheme]="'cool'"
    [results]="data"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    xAxisLabel="name"
    yAxisLabel="value"
    [timeline]="true"
    [autoScale]="true"
    [showGridLines]="false"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="tooltip-container">
        <p>{{ model.name | date : "long" }}</p>
        <p>{{ model.value }}</p>
      </div>
    </ng-template>
  </ngx-charts-line-chart>
</div>
