<h1>History</h1>
<p class="information">Zeigt die Temperatur vom Fluss auf dem sich das EPo Floss im Zeitverlauf befindet.</p>
<div>
  <ngx-charts-line-chart
    [scheme]="'cool'"
    [results]="data"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    xAxisLabel="name"
    yAxisLabel="°C"
    [timeline]="true"
    [autoScale]="true"
    [showGridLines]="false"
  >
    <ng-template #seriesTooltipTemplate let-models="model">
      {{models[0].series}}
      <ng-container *ngFor="let model of models">
        <div class="container">
        <div class='box' [ngStyle]="{'background-color': model.color}"></div>{{ model.value }} °C
      </div>
      </ng-container>
    </ng-template>

    <ng-template #tooltipTemplate let-model="model">
      {{ model.value }} °C
      <br />
      {{ model.name | date : "dd.MM.yyyy HH:mm:ss" }}
    </ng-template>
  </ngx-charts-line-chart>
</div>
