<body>
  <div class="frame1">
    <mat-card class="headerCard">
      <mat-card-content>
        <app-header></app-header>
      </mat-card-content>
    </mat-card>

    <br />

    <div class="frame2">
      <mat-card class="contentCard">
        <mat-card-content>
          <app-gauge></app-gauge>
        </mat-card-content>
      </mat-card>

      <br />

      <mat-card class="contentCard">
        <mat-card-content>
          <app-line-chart></app-line-chart>
        </mat-card-content>
      </mat-card>

      <br />

      <mat-card class="contentCard">
        <mat-card-content>
          <app-video></app-video>
        </mat-card-content>
      </mat-card>
    </div>

    <br />
    <mat-card class="contentCard">
      <mat-card-content>
        <app-footer></app-footer>
      </mat-card-content>
    </mat-card>
  </div>
</body>
