mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerCard {
    background-color: #94223f;
    height: 100px;
    border-radius: 0px;
    min-width: none;
    max-width: 100%;
}

.footerCard {
    background-color: #f4f4f5;
    border-radius: 0px;
}

.contentCard {
    background-color: #f4f4f5;
    width: 400px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.frame2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(2 * 400px + 100px);
}

body {
    display: flex;
    justify-content: center;
}

