<header style="width: 100%;">
  <app-header></app-header>
</header>
<body>
    <mat-card style="background-color: #f4f4f5; ">
        <mat-card-content style="display: flex; justify-content: center; align-items: center;">
            <app-gauge style="scale: 1;"></app-gauge>
        </mat-card-content>
      </mat-card>
<br>
  <mat-card style="background-color: #f4f4f5; ">
    <mat-card-content style="display: flex; justify-content: center; align-items: center;">
        <app-line-chart></app-line-chart>
    </mat-card-content>
  </mat-card>
</body>
